body {
    background-color: beige;
}

p {
    font-size: x-large;
}

h1 {
    font-size: xx-large;
}

.update_log {
    border: 10px solid rgb(0, 4, 255);
    border-radius: 10px;
    border-width: 5px;
    margin-right: 1200px;
    padding: 5x;
}


